*{
    font-family: 'Montserrat';
    text-decoration: none;
    list-style-type: none;
    color: rgb(206, 206, 206);
    margin: 0;
    padding: 0;
}
nav{
    background-color: brown;
    padding: 20px 50px;
    width: 100%;
    position: fixed;
    top: 0%;
}
nav li{
    display: inline;
    letter-spacing: 0.8em;
    font-size: 1.1em;
}
ul li{
    padding-left: 250px;
    list-style-position : outside;
  }
body{
    background-color: #111111;
    color: rgb(206, 206, 206);
    padding-top: 56px   ;
}
img{
    width: 700px;
}
h1{
    text-align: center;
}
section{
    padding-top: 80px;
}
